.table-container {
    overflow-x: auto;
    margin-left: 2rem;
    margin-right: 2rem;
}
 
th,
td {
  text-align: left;
  border-bottom: 1px solid #ddd;
}

td button {
  border: none;
  padding: 0px;
  background-color: gainsboro;
  cursor: pointer;
}


.check-box:hover{
  cursor: pointer;
}

.selected-row {
  background-color: #ded6d6;
}

table {
  border-collapse: collapse;
  border-spacing: 1;
  width: 100%;
}

td .edit-button,
td .save-button {
  margin-right: 0.75rem;
}
@media screen and (max-width: 768px) {
  .table-container {
    overflow-x: auto;
    margin-left: 5%;
    margin-right: 5%;
}

  td,
  th {
    word-break: break-all;
    font-size: 12px;
  }

  .delete-button {
    margin-top: 16px;
  }
}

  
